.react-datepicker__input-container{
    display: none !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range{
    background-color: rgba(0,175,239,0.2) !important;
    color: black !important;
    border-radius: 50%;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end{
    background-color: rgba(0,175,239,1) !important;
    color: white !important;
}

.react-datepicker__day:hover{
    background-color: #f1cdca33 !important;
    border-radius: 50%;
    color: black !important;
}

.react-datepicker__month{
    padding: 20px;
}

.react-datepicker{
    background-color: #f4f5fa;
    border: none !important;
    width: 100%;
    margin: 10px 0px;
}

.react-datepicker__month-container{
    width: 100%;
}

.react-datepicker__day--today{
    background-color: white !important;
    color: #33343a !important;
    border-radius: 50%;
}

.react-datepicker__week,
.react-datepicker__day-names{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.react-datepicker__day-names{
    padding: 0px 25px;
}

.From-To .btns{
    width: 100%;
    display: flex;
    border-radius: 8px;
    background-color: rgb(145,223,252);
}
.From-To .btns button{
    width: 190px;
    border-radius: 8px;
    border: none;
    padding: 5px 0px;
    color: rgba(0,175,239,1);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(145,223,252);
}
.From-To .btns button:focus,
.From-To .btns button:hover{
    background-color: rgba(0,175,239,1);
    color: #fff;
}
