.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color:#F93333 !important;
    width: 133px;
    height: 34px;
    font-size: 10px !important;
    font-weight: 600 !important;
    border: 1px solid #F93333 !important;
    background-color: #F933331C !important;
}
.css-1wnsr1i{
    border: none !important;
    width: 603px !important;
    height: 420px !important;
    padding: 0px 36px !important;
    border-radius: 7px !important;

}
.css-2ulfj5-MuiTypography-root{
    text-align: center !important;
    color: #434343 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 30px !important;
}